.board-white {
  position: absolute;
  width: 632px;
  height: 584px;
  left: 404px;
  top: 156px;
  z-index: 2;
}

.board-black {
  position: absolute;
  width: 632px;
  height: 592px;
  left: 404px;
  top: 156px;
  z-index: -1;
}

.board-grid {
  padding: 17px;
  position: absolute;
  width: 607px;
  height: 518px;
  left: 404px;
  top: 156px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  z-index: 1;
}
