.select {
  padding: 17px;
  position: absolute;
  width: 598px;
  height: 560px;
  left: 404px;
  top: 105px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  z-index: 3;
}
